@import "tailwindcss";

@theme {
    --font-baskerville: "BaskervilleCyr", serif;
    --font-alistair: "Alistair-Signature", cursive;
    --font-sans: Arial, Helvetica, sans-serif;
    --color-brand-blue-100: #e5e9ec;
    --color-brand-blue: #364d6b;
}

:root {
    color-scheme: light;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer base {
    h1 {
        @apply font-baskerville text-2xl uppercase;
        @media (min-width: 1200px) {
            @apply text-[40px];
        }
    }

    h2 {
        @apply font-baskerville text-2xl uppercase;
        @media (min-width: 1200px) {
            @apply text-[40px];
        }
    }

    p {
        @apply text-sm/6;
        @media (min-width: 1200px) {
            @apply text-base/7;
        }
    }
}
