@import "tailwindcss";

@theme {
    --font-baskerville: "BaskervilleCyr", serif;
    --font-alistair: "Alistair-Signature", cursive;
    --font-sans: Arial, Helvetica, sans-serif;
    --color-brand-blue-100: #e5e9ec;
    --color-brand-blue: #364d6b;
}

:root {
    color-scheme: light;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer base {
    h1 {
        @apply font-baskerville text-2xl uppercase;
        @media (min-width: 1200px) {
            @apply text-[40px];
        }
    }

    h2 {
        @apply font-baskerville text-2xl uppercase;
        @media (min-width: 1200px) {
            @apply text-[40px];
        }
    }

    p {
        @apply text-sm/6;
        @media (min-width: 1200px) {
            @apply text-base/7;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@utility animate-marquee {
    animation: marquee 120s linear infinite;
}

/* HotBot */
html body.hotbot-widget-container {
    --font-family: CenturyGothic;
}

html body {
    --hotbot-button-background: #243163;
    --hotbot-shop-button-background: #ffffff;
    --hotbot-user-message-background: #cfb180;
    --hotbot-user-message-color: #2b241c;
    --hotbot-menu-button-background: #243163;
    --hotbot-menu-button-color: #ffffff;
}

.hotbot-widget-tooltip.hotbot-widget-tooltip--shop {
    font-size: 20px;
}

.hotbot-widget-tooltip--shop {
    display: none;
}
